Repository feliperogerioalmeida/doctor-schedule: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx eslint

.lintstagedrc.json:

{
  "*.js": ["npx eslint --fix", "npx prettier --write"],
  "*.ts": ["npx eslint --fix", "npx prettier --write"],
  "*.tsx": ["npx eslint ", "npx prettier --write"]
}

chore: add better auth setup
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/app/authentication/components/login-form copy.tsx
  src/app/authentication/page.tsx
  src/db/schema.ts
  src/lib/auth.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: add sign up
  src/app/api/auth/[...all]/route.ts
  src/app/authentication/components/sign-up-form.tsx
  src/app/dashboard/page.tsx
  src/lib/auth-client.ts
  src/lib/auth.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: add login
  package.json
  pnpm-lock.yaml
  src/app/authentication/components/login-form copy.tsx
  src/app/authentication/components/sign-up-form.tsx
  src/app/layout.tsx
  src/components/ui/sonner.tsx
Due: npx prettier --write, npx eslint

feat: add custom error message for existing user
  src/app/authentication/components/sign-up-form.tsx
Due: npx prettier --write, npx eslint

implement session management and redirection in authentication and dashboard pages
  src/app/authentication/page.tsx
  src/app/dashboard/components/sign-out-button.tsx
  src/app/dashboard/page.tsx
Due: npx prettier --write, npx eslint

feat: add clinic form page
  package.json
  pnpm-lock.yaml
  src/actions/create-clinic/index.ts
  src/app/clinic-form/components/form.tsx
  src/app/clinic-form/page.tsx
  src/app/dashboard/page.tsx
  src/components/ui/dialog.tsx
  src/db/index.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: add sign in with google
  src/app/authentication/components/login-form.tsx
  src/app/authentication/page.tsx
  src/lib/auth.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: add sidebar
  package.json
  pnpm-lock.yaml
  public/Logo.svg
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/(protected)/_components/app-sidebar.tsx
  src/app/(protected)/clinic-form/_components/form.tsx
  src/app/(protected)/clinic-form/page.tsx
  src/app/(protected)/dashboard/_components/sign-out-button.tsx
  src/app/(protected)/dashboard/page.tsx
  src/app/(protected)/layout.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: add clinic data to user session and reder it on sidebar
  package.json
  pnpm-lock.yaml
  src/app/(protected)/_components/app-sidebar.tsx
  src/components/ui/avatar.tsx
  src/lib/auth-client.ts
  src/lib/auth.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: create page container components
  src/app/(protected)/_components/app-sidebar.tsx
  src/app/(protected)/doctors/page.tsx
  src/app/(protected)/layout.tsx
  src/components/page-container.tsx
Due: npx prettier --write, npx eslint

feat: ensure user has clinic on doctors page
  src/app/(protected)/_components/app-sidebar.tsx
  src/app/(protected)/dashboard/page.tsx
  src/app/(protected)/doctors/page.tsx
  src/lib/auth.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: add doctor creation form
  package.json
  pnpm-lock.yaml
  src/app/(protected)/doctors/_components/add-doctor-button.tsx
  src/app/(protected)/doctors/_components/upsert-doctor-form.tsx
  src/app/(protected)/doctors/_constants/index.ts
  src/app/(protected)/doctors/page.tsx
  src/components/ui/select.tsx
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: ensure doctor is created
  package.json
  pnpm-lock.yaml
  src/actions/upseart-doctor/index.ts
  src/actions/upseart-doctor/schema.ts
  src/app/(protected)/doctors/_components/add-doctor-button.tsx
  src/app/(protected)/doctors/_components/upsert-doctor-form.tsx
  src/lib/next-safe-action.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: ensure doctor availability is saved as utc on database
  package.json
  pnpm-lock.yaml
  src/actions/upseart-doctor/index.ts
Due: npx eslint --fix, npx prettier --write

feat: ensure doctors are listed on doctors page
  src/actions/upseart-doctor/index.ts
  src/app/(protected)/doctors/_components/doctor-card.tsx
  src/app/(protected)/doctors/_helpers/availability.ts
  src/app/(protected)/doctors/page.tsx
  src/components/ui/badge.tsx
  src/helpers/currency.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

ensure doctor can be updated
  src/app/(protected)/doctors/_components/doctor-card.tsx
  src/app/(protected)/doctors/_components/upsert-doctor-form.tsx
Due: npx prettier --write, npx eslint

fix: ensure doctor form is cleared when closed
  src/app/(protected)/doctors/_components/upsert-doctor-form.tsx
Due: npx prettier --write, npx eslint

feat: ensure doctor can be deleted
  package.json
  pnpm-lock.yaml
  src/actions/delete-doctor/index.ts
  src/app/(protected)/doctors/_components/doctor-card.tsx
  src/app/(protected)/doctors/_components/upsert-doctor-form.tsx
  src/components/ui/alert-dialog.tsx
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: ensure patient can be created and updated
  .cursor/rules/general.mdc
  src/actions/upsert-patient/index.ts
  src/actions/upsert-patient/schema.ts
  src/app/(protected)/doctors/_components/doctor-card.tsx
  src/app/(protected)/doctors/_components/upsert-doctor-form.tsx
  src/app/(protected)/patients/_components/add-patient-button.tsx
  src/app/(protected)/patients/_components/patient-card.tsx
  src/app/(protected)/patients/_components/upsert-patient-form.tsx
  src/app/(protected)/patients/page.tsx
  src/db/schema.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: add patients table
  package.json
  pnpm-lock.yaml
  src/app/(protected)/patients/_components/table-columns.tsx
  src/app/(protected)/patients/page.tsx
  src/components/data-table.tsx
  src/components/ui/table.tsx
Due: npx prettier --write, npx eslint

feat: ensure patient can be updated
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/(protected)/patients/_components/table-actions.tsx
  src/app/(protected)/patients/_components/table-columns.tsx
Due: npx prettier --write, npx eslint

feat: ensure patient can be deleted
  src/actions/delete-patient/index.ts
  src/app/(protected)/patients/_components/table-actions.tsx
  src/app/(protected)/patients/_components/table-columns.tsx
  src/app/(protected)/patients/_components/upsert-patient-form.tsx
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: ensure appointment can be created
  package.json
  pnpm-lock.yaml
  src/actions/upsert-appointments/index.ts
  src/actions/upsert-appointments/schema.ts
  src/app/(protected)/appointments/_components/add-appointment-button.tsx
  src/app/(protected)/appointments/_components/upsert-appointment-form.tsx
  src/app/(protected)/appointments/page.tsx
  src/components/ui/calendar.tsx
  src/components/ui/popover.tsx
  src/db/schema.ts
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: add appointment table
  src/actions/add-appointment/index.ts
  src/actions/add-appointment/schema.ts
  src/actions/delete-appointment/index.ts
  src/app/(protected)/appointments/_components/add-appointment-button.tsx
  src/app/(protected)/appointments/_components/add-appointment-form.tsx
  src/app/(protected)/appointments/_components/table-actions.tsx
  src/app/(protected)/appointments/_components/table-columns.tsx
  src/app/(protected)/appointments/page.tsx
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: ensure only doctor available times are rendered on time select
  package.json
  pnpm-lock.yaml
  src/actions/get-available-times/index.ts
  src/app/(protected)/appointments/_components/add-appointment-form.tsx
  src/app/(protected)/appointments/_components/table-actions.tsx
  src/app/layout.tsx
  src/helpers/time.ts
  src/providers/react-query.tsx
Due: npx eslint --fix, npx prettier --write, npx eslint

feat: ensure disabled days are shown on time select
  src/app/(protected)/appointments/_components/add-appointment-form.tsx
Due: npx prettier --write, npx eslint

feat: ensure only doctor available days are selectable on date select
  src/app/(protected)/appointments/_components/add-appointment-form.tsx
Due: npx prettier --write, npx eslint

feat: ensure date is available on appointment creation
  src/actions/add-appointment/index.ts
  src/app/(protected)/appointments/_components/add-appointment-form.tsx
Due: npx eslint --fix, npx prettier --write, npx eslint
